.container.col-xs-4.col-xs-offset-4
  h2.text-center Войти

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, class: 'form-control'

    .form-group
      = f.label :password
      = f.password_field :password, autocomplete: "off", class: 'form-control'

    - if devise_mapping.rememberable?
      .form-group
        = f.check_box :remember_me
        = f.label :remember_me
    .text-center
      = f.submit 'Войти', class: 'btn btn-primary'
