#map style="height: 300px" data-editable='true'
br
= form_for place do |f|
  = f.hidden_field :lat
  = f.hidden_field :lon
  .form-group.col-xs-12
    = f.label :address
    = f.text_field :address, class: 'form-control'
  = f.submit (place.id ? 'Update' : 'Save'), class: 'btn btn-primary'
