.container
  .panel.panel-default
    .panel-heading Места
    table.table.table-striped
      thead
        tr
          th Адрес
          th
          - if current_user.role == :admin
            th 
      tbody
        - @places.each do |place|
          tr
            td = place.address
            td 
              = link_to 'Узнать погоду', place_path(place), class: 'btn btn-primary'
            - if current_user.role == :admin
              td
                = link_to 'Редактировать', edit_place_path(place), class: 'btn btn-primary', style: 'margin-right: 5px'
                = link_to 'Удалить', place_path(place), class: 'btn btn-danger', method: :delete
  - if current_user.role == :admin
    = link_to 'Добавить место', new_place_path, class: 'btn btn-primary'
