= content_for :custom_js do
  script src="//maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_api_key}&sensor=false&libraries=places&language=ru&callback=initMap"
.container
  = render 'form', place: @place
