= content_for :custom_js do
  script src="//maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_api_key}&sensor=false&libraries=places&language=ru&callback=initMap"
.container
  h5 = @place.address
  #map data-editable=false style="height: 300px"
  = hidden_field_tag :lat, @place.lat, id: 'place_lat'
  = hidden_field_tag :lon, @place.lon, id: 'place_lon'
  ul.list-group
    li.list-group-item = "Описание: #{@weather.description}"
    li.list-group-item = "Температура: #{@weather.temp.to_s}"
    li.list-group-item = "Температура минимальная: #{@weather.temp_min}"
    li.list-group-item = "Температура максимальная: #{@weather.temp_max}"
    li.list-group-item = "Давление: #{@weather.pressure}"
