nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a class="navbar-brand" href=root_path AT Consulting Test
    #navbar.navbar-collapse.collapse
      - if current_user
        ul.nav.navbar-nav.navbar-right
          li.active
            a href="#"
              = current_user.email
          li
            = link_to 'Выход', destroy_user_session_path, method: :delete
