doctype html
html
  head
    title AtConsultingTest
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  body
    = render 'layouts/top_navbar'
    .container-fluid
      = yield
  = yield :custom_js
